
<div class="container">
	<div class="row ">
			<h1>Eat-Da-Burger!</h1>
		</div>
		<br>
		<br>
	<div class="col-sm-6 text-center">
			<div class="row">
			  {{#each burger_data}}
			  	{{#unless this.devoured}}
				<div class="col-sm-6 text-center">
					<pre>{{this.id}}. {{this.burger_name}}
					</pre>
				</div>
				<div class="col-sm-6 text-center">
					<button type="button" class="btn btn-primary">Devour</button>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<br>
		<div class="col-sm text-center">
			  {{#each burger_data}}
			  	{{#if this.devoured}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}"
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm text-center enter_section">
			<form action="/burgers/create" method="POST">
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="click" class="btn btn-primary" id="text-enter-button">Click</button>
			</form>
			<p>Enter a burger and "click " away.</p>
		</div>
	</div>
</div>
